body {
  margin: 0;
  padding: 0;
  font-family: "roboto";
}

.grid {
  display: grid;
  grid-template-columns: 20% 80%;
}
.side-bar {
  background-color: #0ea5e9;
  height: 100vh;
  color: white;
}
.container {
  background-color: white;
  height: 100vh;
}
.content {
  margin-left: 45px;
}
.side-bar-header {
  display: flex;
  align-items: center;
  gap: 5%;
  cursor: pointer;
  width: 80%;
  height: 100px;
}
.side-bar-header:hover {
  background-color: rgb(14, 150, 233);
}
.side-bar-options {
  margin-top: 80px;
}
.side-bar-options > div {
  display: flex;
  gap: 10%;
  align-items: center;
}
.side-bar-options > div img {
  height: 50px;
}
.side-bar-footer {
  margin-top: 100px;
}
.side-bar-footer > div {
  display: flex;
  gap: 10%;
  align-items: center;
}
.side-bar-footer > div img {
  height: 50px;
}
.header {
  background-color: white;
}
.header-top {
  display: flex;
  margin-top: 2%;
  padding-left: 4%;
  align-items: center;
}
.header-bottom {
  display: flex;
  align-items: center;
}
.pfp {
  clip-path: circle();
  width: 50px;
  margin-right: 2%;
}
input {
  height: 50px;
  width: 60%;
  border: none;
  border-radius: 30px;
  background-color: #d1d5db;
  margin-right: 10%;
  font-size: 2rem;
  padding-left: 20px;
}
.big-pfp {
clip-path: circle();
width: 100px;
margin-left: 100px;
}
.button-container {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: 50%;
}
button {
  border: none;
  background-color: #0ea5e9;
  color: white;
  width: 105px;
  height: 45px;
  border-radius: 30px;
  font-size: 1.2rem;
  font-family: 'roboto';
  font-weight: 500;
  cursor: pointer;
}
button:hover {
  background-color: rgb(14, 150, 233)
}
.body {
  height: 100%;
  width: 100%;
  background-color: #e2e8f0;
}